@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Poppins:500');

.displayQuestions {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.displayQuestionsChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  counter-reset: section;
}

.questionsParent {
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #F9F9F9;
  text-align: justify;
  font-size: 20px;
  margin: 1%;
  padding: 2%;
  font-family: Poppins;
  color: black;
}

.questionsParent:hover {
  color: #171A26;
  text-decoration: none;
  /* transition: ease-in;
  transition-delay: 5ms; */
  border: 1px solid #171A26;
  background-color: #F9F9F9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.726);
  transition: all 0.5s cubic-bezier(0.27, 0.37, 0.1, 1);
}

/* .questionsParent::before {
  counter-increment: section;
  content: "Q"counter(section) ":  ";
} */

.questionLink {
  color: black;
}

.questionLink:active {
  color: black;
}

.pickCategory {
  font-size: 1.2em;
  padding: 1.3%;
}