.Question {
 text-align: center;
 font-size: 1.5vw;
}

.QuestionTitle::before {
 /* content: "Q:"; */
 margin: 1%;
 padding: 1%;
 font-weight: bolder;
}

.QuestionTitle {
 font-size: 2.4vw;
 margin: 1%;
 padding: 1%;
 font-weight: bolder;
 overflow: hidden;
 word-wrap: none;
}

.Answers {
 display: grid;
 grid-template-columns: 1fr;
 place-items: center;
}

.questionsParent svg {
  width: 2.5%;
  fill: rgb(219, 48, 105);
}

.userAnswerArea form {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
}

.userAnswerArea textarea {
  text-decoration: none;
 min-width: 66vw;
 min-height: 15vh;
 resize: none;
 /* border: 1px solid rgba(83, 0, 0, 0);
 background-color: rgba(83, 83, 83, 0.144); */
 border-radius: 6px;
 margin: 1%;
 padding: 1%;
 font-size: calc(20px + 6 * ((100vw - 320px) / 680));
 background: #ECEEF7;
 outline: none;
 border: 1px solid #25709e;
 transition: all 0.3s ease-in;
}

.userAnswerArea input[type="Submit"] {
  cursor: pointer;
 margin: 1%;
 /* padding: 1%; */
 height: 10vh;
 font-size: calc(15px + 6 * ((100vw - 320px) / 680));
 text-align: center;
 width: 150px;
 color: rgb(0, 0, 0);
 border-radius: 10px;
 outline: none;
 box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}


.userAnswerArea input[type="Submit"]:hover {
 transition: cubic-bezier(0.47, 0, 0.745, 0.715);
 outline: none;
 box-shadow: 0 3px 7px #1B124E;
}

.userAnswerArea input[type="Submit"]:focus {
 outline: none;
}



@media screen and (max-width: 560px) {
 .QuestionTitle {
  text-align: center;
  font-size: calc(18px + 6 * ((100vw - 560px) / 680));
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .answer p {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin: 10px; */
 }

 .Answers {
  display: flex;
  flex-direction: column;
 }
}

.lastNextContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 3%;
}

.lastNextContainer a {
  background-color: white;
  color: #1B124E;
  font-size: 1.1em;
  font-family: Poppins, sans-serif;
  padding: 1vh;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(49, 49, 49, 0.619);
  transition: box-shadow 0.2s ease-out;
}

.lastNextContainer a:hover {
  box-shadow: 0 2px 3px rgba(49, 49, 49, 0.619);
  transition: box-shadow 0.1s ease-in;
}

.nextButton {
  text-align: right;
}