.logo{
  display: flex;
  width: 100px;
  height: 60px;
  justify-content: flex-end;
}
.logo img{
  height: 60px;
}
a{
  text-decoration: none;
}
.Menu{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  display: flex;
  width: 150px;
  justify-content: space-around;
}
