.sidenav---sidenav---_2tBP {
 background-color: #232B49;
 top: 0px;
 position: fixed;
}

.tooltip {
 position: relative;
 display: inline-block;
 border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
 visibility: hidden;
 width: 120px;
 background-color: black;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */

.sideBarIcon {
 padding-top: 10%;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {

 max-width: 5%;
}

.sidebarSVG {
 fill: #97A5DB;
}

.sideBarIcon:hover .sidebarSVG {
 /* fill: whitesmoke; */
}

.sidenav---navtext---1AE_f {
 font-size: 1.35em;
}

.expanded {
 margin-left: 240px;
 padding: 15px 20px 0 20px;
 /* background-color: rgb(249, 249, 249); */
 background-color: white;

}

.unexpanded {
 margin-left: 64px;
 padding: 15px 20px 0 20px;
 background-color: rgb(249, 249, 249);

}