.body1 {
 /* height: 35%; */
 /* width: 100vw; */
 /* display: flex;
 align-items: center;
 justify-content: space-around; */
 /* background-color: #97A5D8; */
 text-align: right;

}

.company_name {
 position: absolute;
 display: grid;
 grid-template-columns: 1fr 1fr;
 text-align: center;
 /* color: #6d87dccf; */
 /* color: #379BE2; */
 color: white;

 /* left: 6%; */
 top: 25%;

}

.company_name .left h1 {
 font-size: 20vw;
 text-align: left;
 align-items: stretch;
 font-weight: bolder;

}

.left h1 {
 position: relative;
 left: 5%;
}

.company_name .right {
 position: relative;
}

.company_name .right img {
 filter: invert(100);
 top: 19px;
 /* opacity: .44; */
 width: 35vw;
}

.videoLay {
 overflow: hidden;
 width: 100vw;
 height: 100vh;
 /* position: relative; */
 object-fit: cover;
 /* background: rgb(0, 0, 0); */
 background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
 background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
 background: linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

}

#background-video {
 /* margin-top: 25px; */
 /* padding-top: 120px; */
 filter: blur(1px) grayscale(100);
 position: relative;
 object-fit: cover;
 object-position: 30% 30%;
 z-index: -5;
 width: 100vw;
 height: 100vh;
}


.links {
 grid-column-start: span 2;
 font-weight: 500;
 display: flex;
 align-items: flex-end;
 justify-content: center;
}

.links button {}

/* .landingPage {
 width: 100%;
} */

.demoSignup {
 font-size: 2vw;
 height: 10vh;
 width: 25vw;
 background-color: rgba(255, 255, 255, 0.707);
 border-radius: 10px;
 color: #000000c1;
 font-weight: bolder;

 border: 3px solid rgb(255, 255, 255);
}


.demoSignup:hover {
 color: red;
 /* background-color: rgba(255, 61, 87, 0.365); */
 border: 2px solid rgb(255, 65, 91);
 border-radius: 10px;
 box-shadow: 0 6px 10px rgba(0, 0, 0, 0.419);
 transition: box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 640px) {
 .links {
  position: relative;
  text-align: center;
  color: #a4b8ffc1;
  /* height: 33vh; */
  width: 100vw;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
 }

 .demoSignup {
  border: 2px solid rgb(195, 204, 255);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 60px; */
  color: black;
  border-radius: 10px;
  text-align: center;
  /* margin: 1px; */
  /* padding: 10px; */
  width: 200px;
  /* height: 660px + 70vw; */
  font-size: 20px;
  color: rgb(255, 255, 255);
 }

 .body1 {
  height: 50vh;
  /* width: 100vw; */
  /* display: flex;
 align-items: center;
 justify-content: space-around; */
  /* background-color: #97A5D8; */
  text-align: right;

 }

 #background-video {
  /* margin-top: 25px; */
  /* padding-top: 120px; */
  filter: blur(1px) grayscale(100);
  position: relative;
  object-fit: cover;
  object-position: 100% 30%;
  z-index: -5;
  width: 100vw;
  height: 50vh;
 }

}