.body1{
  height: 88vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #97A5D8;
}

.left{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img{
  width: 600px;
  height:auto;
}

.right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.text {
  height: 97px;
  margin-left: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links {
  display: flex;
  justify-content: space-around;
}

.links button {
  height: 57px;
  width: 186px;
  padding: 7px;
  margin: 12px;
  border-radius: 60px;
}

.loginContainer {
  padding-top: 5%;
}

.landingPage {
  width: 100%;
}

.demoSignup {
  background-color: white;
  border-radius: 60px;
  height: 57px;
  width: 40%;
  color: black;
}

.letsTalk {
  font-size: 2.8vw;
  padding: 5%;
}

.landingImg {
  width: 10vw;
}

.demoSignup:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.719);
  transition: box-shadow 0.3s ease-in-out;
}