.body2{
  height: 80%;
  text-align: center;
  background-color: #2B3454
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.cards{
  width: 250px;
  /* height: 400px; */
  /* display: flex;
  flex-direction: row; */
  /* align-items: center; */
}
