.leaderboardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.table{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHead{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
