@import url('https://fonts.googleapis.com/css?family=Cabin:600|Open+Sans:600|Poppins:500');

.dashboardContainer {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #eceafa;
    padding-bottom: 5%;
}

.welcome {
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    color: #1b124e;
}

.welcomeLink{
    color: #FF3D57;
    font-size: 1.85vw;
    font-family: Roboto, sans-serif;
}

.welmsg{
    font-family: Roboto, sans-serif;
    font-size: 1.6vw;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

.userSplash {
 font-size: 3vw;
 text-align: center;
}


.splashAndQuestion {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: repeat(14, 1fr);
 grid-auto-rows: minmax(100px, auto);
}

.splashContainer {
 grid-column-start: 1;
 grid-column-end: 3;
}

.userSplashContainer {
 display: flex;
 flex-direction: column;
}

.smiley {
 height: 60%;
 width: 60%;
}

.randomQuestionContainer {
    box-shadow: 0 2px 4px #1b124e;
    color: #1b124e;
    background-color: white;
}

.dashsplashDiv{
    grid-row: 1;
    grid-column: 1 / span 14;
}

.welcomeMessageDiv{
    grid-row: 2;
    grid-column: 2 / span 12;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px #1b124e;
    color: #1b124e;
    padding-top: 2%;
    padding-bottom: 2%;
}

.progressDiv{
    grid-row: 3;
    grid-column: 2 / span 12;
}

.randomQdiv{
    /* background-color: #8BB9CF; */
    grid-row: 4;
    grid-column: 2 / span 5;
}

.leaderBoarddiv{
    grid-row: 4;
    grid-column: 7 / span 7;
    /* background-color: #D9E8EF; */
     /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
}


.randomQuestionContainer:hover {
 box-shadow: 0 6px 10px #1b124e;
 transition: box-shadow 0.2s ease-in-out;
}

.randomQuestionP {
 font-size: 3vw;
 font-weight: bold;
}

.dashCategory {
 line-height: 2;
}

.progressContainer {
 box-shadow: 0 2px 4px #1b124e;
 transition: box-shadow 0.2s ease-in-out;
 margin: 0px;
 padding: 10px;
 border: 0px solid rgba(255, 0, 0, 0);
 height: 17vh;
 background-color: white;
}

.progressContainer p {
 margin: 10px;
 padding: 10px;
 text-align: center;
}

.progressContainer:hover {
 box-shadow: 0 5px 10px #1b124e;
 /* box-shadow: 0 6px 10px rgba(202, 11, 161, 0.486); */
 transition: box-shadow 0.2s ease-in-out;
}

 /* .leaderboardContainer {
  grid-column-start: 1;
  grid-column-end: 1;
 } */

.leaderboardContainer {
 box-shadow: 0 2px 4px #1b124e;
 transition: box-shadow 0.2s ease-in-out;
 padding: 10px;
 margin-top: 12px;
 border-radius: 6px;
 height: 400px;
background-color: white;
padding-bottom: 2.5%;
}

.welmsg div {
    font-size: 1.2em;
    line-height: 5vh;
}

.welmsg h1 {
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
    padding-bottom: 2%;
}

.welmsg p {
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
}

.leaderboardContainer h1 {
 font-size: 4vw;
 color: rgb(53, 53, 0);
 font-weight: bold;
 padding-bottom: 10px;
 
}

.tableHeader {
 display: flex;
 width: 100%;
 flex-direction: row;
 justify-content: space-around;
 font-size: 2vw;
 text-align: justify;
 color: rgb(19, 90, 149);
 font-weight: bolder;
}


.tableHead p {
 font-size: 1.5vw;
 text-align: left;
 color: rgb(19, 90, 149);
 font-weight: bolder;
 margin: 10px;
}

.leaderboardContainer .table {
 font-size: 2vw;
}

.leaderboardContainer:hover {
 box-shadow: 0 6px 10px #1b124e; 
 transition: box-shadow 0.2s ease-in-out;
}

@media screen and (max-width: 640px) {
 .dashboardContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
 }

 .splashAndQuestion {
  display: grid;
  grid-template-columns: 1fr;
  height: auto
}

.welcome {
    text-align: left;
    font-weight: bold;
    font-size: 7vw;
 }

 .splashContainer {
  text-align: center;
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 1;
  border-bottom: 1px solid black;
 }

 .userSplash {
  font-size: 5vw;
  text-align: left;
  margin-bottom: 2.5vh;
 }

 .randomQuestionContainer {
  /* background-color: rgba(255, 0, 0, 0); */
  padding: 10px;
  height: 100%;
  width: 100%;
  /* margin: 0px; */
  border-radius: 6px;
  color: black;
  /* border-bottom: 1px solid black; */
  /* margin-bottom: 2.5vh;
  margin-top: 2.5vh; */
  border-radius: 0;
  box-shadow: 0 2px 4px #1b124e;
  transition: box-shadow 0.2s ease-in-out;
  margin: 0px;
 }

/* 
 .progressContainer {
  background-color: #D36582;
  margin: 10px;
  width: 70vw;
  padding: 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 0, 0, 0);
  height: 25vh;
 } */


 .randomQuestionP {
  font-size: 7vw;
  font-weight: bold;
 }


}