.splashContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    width: 50%;
    border: 1px solid;
    padding: 2%;
    border-radius: 5px;
}

.userSplashContainer {
    display: flex;
    flex-direction: column;
}

.smiley {
    height: 60%;
    width: 60%;
}

.splashEmote {
    width: 40%;
}

.dashboardContainer {
    height: 100%;
}

.welcome {
    font-size: 6vw;
}

.userSplash {
    font-size: 6vw;
}

.splashAndQuestion {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 1%;
    padding-top: 2%;
    padding-left: 1%;
}

.randomQuestionContainer {
    padding-left: 2%;
}