a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

.splashContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    width: 50%;
    border: 1px solid;
    padding: 2%;
    border-radius: 5px;
}

.userSplashContainer {
    display: flex;
    flex-direction: column;
}

.smiley {
    height: 60%;
    width: 60%;
}

.splashEmote {
    width: 40%;
}

.dashboardContainer {
    height: 100%;
}

.welcome {
    font-size: 6vw;
}

.userSplash {
    font-size: 6vw;
}

.splashAndQuestion {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 1%;
    padding-top: 2%;
    padding-left: 1%;
}

.randomQuestionContainer {
    padding: 2%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2%;
    width: 35%;
    color: black;
}

.randomQuestionContainer:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    transition: box-shadow 0.2s ease-in-out;
  }

.randomQuestionP {
    font-size: 2vw;
    padding: 2%;
    padding-bottom: 4%;
}

.dashCategory {
    padding-bottom: 5%;
}