body {
 background-color: rgb(255, 255, 255);

}

/* This Resets All Buttons to Empty Style */
button {
 background: none;
 /* color: inherit; */
 border: none;
 padding: 0;
 font: inherit;
 cursor: pointer;
 /* font-style: #171A26; */
}

button {
 outline: none;
}

a {
 outline: none;
}

