@import url('https://fonts.googleapis.com/css?family=Cabin:600|Open+Sans:600|Poppins:500');

.adviceTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-style: #171A26;
    font-family: 'Cabin', sans-serif;
}

.adviceTitleChild {
    font-size: 4vw;
    font-weight: bold;
}


.tipTitle {
    display: flex;
    justify-content: center;
    font-style: #171A26;
    font-family: 'Cabin', sans-serif;
}

.tipsContainer {
    padding-top: 2%;
    padding-bottom: 10%;
}

.tipPanels {
    padding-top: .8%;
}

.tipsList {
    padding-bottom: 5%;
}