.Menu {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(187, 236, 255)
}
.logo{
  margin-left: 160px;
  display: flex;
  width: 100px;
  height: 60px;
  justify-content: flex-end;
}
.logo img{
  height: 60px;
}
a{
  text-decoration: none;
}
.Menu{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  display: flex;
  margin-right: 160px;
  width: 300px;
  justify-content: space-around;
}
