.signupContainer {
 color: white;
 text-align: center;
 height: 82.5vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 place-items: center;
 padding-top: 3%;
 background-color: white;
}

.signupContainer a {
 color: #db3069;
}
.signup p {
  margin: 10px;
  padding: 10px;
}
.login p {
  margin: 10px;
  padding: 10px;
  color: #1b124e;
 }

.inputbox {
 width: 40vw;
 background: #dadae6be;
 border: 2px solid #dadae6be;
 border-radius: 10px;
 padding: 10px;
 display: grid;
 grid-template-columns: 1fr;
 grid-gap: 5px;
 justify-content: center;
 box-shadow: 0 6px 10px rgba(0, 0, 0, 0.619);
 height: 70vh;
 padding-bottom: 2%;
}
.inputbox h1 {
  align-self: center;
  color: #1F3263;
  font-weight: bolder;
  font-size: 2em;
  border-radius: 6px;
  padding: 3%;
 }

 .inputbox p {
   font-size: 110%;
  color: #1F3263;
  align-self: center;
 }



.input input {
 width: 70%;
 font-size: 100%;
 /* margin: 10px; */
 padding: 10px;
 border-radius: 6px;
 /* width: 60%; */
 -webkit-appearance: none;
 /* border-style: none; */
 /* border: 1px solid #db3069; */
}

.input button {
 border-radius: 10px;
 text-align: center;
 margin: 10px;
 /* padding: 10px; */
 width: 150px;
 min-height: 8vh;
 height: 8vh;
 font-size: 25px;
 color: rgb(255, 255, 255);
 /* background-color: #232B49; */
 background-color: #db3069;

}
.form-group {
  position:relative;  
  padding: 1%;
}
.form-label {
  display: none;
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  /* background-color: rgb(255, 0, 0); */
  z-index: 10;
  /* transition: transform 150ms ease-out, font-size 150ms ease-out; */
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;}

  /* .form-input:focus{
    box-shadow: 0 2px 0 0; 
  } */

.login {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.login button {
 border-style: solid;
 width: 100%;
 /* height: 40px */
}

.signupContainer button:hover {
 /* background-color: #00061c9c; */
 border: 2px solid #db3069;
 background-color: #da527f;
 border-radius: 10px;
}



@media screen and (max-width: 640px) {

 .signupContainer {
  color: white;
  font-size: 100%;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

 }

 .inputbox {
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 1fr;
  grid-gap: 5px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* padding: 1%; */
 }


 .inputbox button {
  /* border: 2px solid rgb(195, 204, 255); */
  border-radius: 10px;
  text-align: center;
  /* margin: 10px; */
  /* padding: 10px; */
  width: 50%;
  /* height: 50%; */
  font-size: 110%;
  color: rgb(255, 255, 255);
  /* background-color: #232B49; */
 }

 .input input {
  width: 80%;
  font-size: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  /* width: 60%; */
  -webkit-appearance: none;
  /* border-style: none; */
  border: 1px solid rgba(255, 61, 87, 0.726);
 }
}

.signUpErr {
  font-size: .8em;
  color: transparent;
  padding-top: .5%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errColor {
  color: #da527f;
}