/* .home {
    padding-top: 5%;
}


<<<<<<< HEAD
div .home{
=======

.home{
>>>>>>> ee7dbd49107fe755bda587864a7ec23e1c869b93
    position: relative;
    overflow: scroll;
    height: auto;
    min-height: 100vh;
    padding-top: 13vh;
} */