

/* .home {
    padding-top: 5%;
} */


.about_component{
    display: flex;
}

div .home{
    position: relative;
    overflow: scroll;
    height: auto;
    min-height: 100vh;
    padding-top: 13vh;
}