.fullHeart {
    fill: rgb(219, 48, 105);
}

.heart:hover {
    fill-opacity: 0.6;
}

.personalHeart:hover {
    fill-opacity:  0.6;
}

.likeButton {
    width: 50%; 
}

.personalHeart {
    width: 50%;
}
